$primary-color: #FF9898;
$secondary-color: #4D4D4D;
$third-color: #FFCDA2 ;


$roboto: Roboto, sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
$roboto-slab: "Roboto Slab", serif;

html {
    scroll-behavior: smooth; /* scroll thumb and track */
}

body {
    margin: auto;
}


#root {
    background-color: #FF9898;
    margin: auto;
}

.roboto-slab {
    font-family: $roboto-slab;
}

.roboto {
    font-family: $roboto;
}

.roboto-condensed {
    font-family: $roboto-condensed;
}

.text-gray {
    color: $secondary-color;
}

.text-white {
    color: white;
}

#navbar {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px, rgba(0, 0, 0, 0.3) 0 7px 5px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    background-color: $primary-color;

    @media screen and (max-width: 768px) {
        width: 80%;
    }

    img {
        padding: 0;
    }

    .navbar-expand .navbar-nav .dropdown-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

#hero {
    background-color: $primary-color;
    padding-top: 200px;
    padding-bottom: 100px;
}

#hero h1 {
    font-size: 36px;
}


#hero-contact img {
    height: 35px;

}

#hero-recherche {
    font-size: 30px;
}

.logiciel{
    padding: 10px;
    width: 401px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.logiciel img {
    max-width:100%;
    max-height:100%;
}

.tab-container {
    max-width: 960px;
    margin: auto;
    background-color: $primary-color;
    border-radius: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border: 2px solid #4D4D4D;
    margin: 10px;
    padding: 2px;
    box-shadow: rgba(50, 50, 93, 0.501) 0px 0px 15px -15px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -18px inset;    
    border-radius: 50px;

    button {
        font-weight: 400;
        color: white;
        cursor: pointer;
        padding: 25px;
        width: 40%;
        margin: 5px;
        background: $secondary-color;
        transition: all .5s ease-in-out;
        border: none;
        border-radius: 50px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

        svg {
            pointer-events: none;
        }

        path {
            fill: white;
            transition: all .5s ease-in-out;
        }

        h2 {
            font-size: 20px;
        }
    }

    button:hover {
        color: $primary-color;
        width: 50%;
        transition: all .5s ease-in-out;

        path {
            fill: $primary-color;
            transition: all .5s ease-in-out;
        }
    }

    button:disabled {
        background: linear-gradient(180deg, $primary-color 0%, $third-color 100%);
        color: $secondary-color;
        width: 80%;
        font-weight: bold;

        path {
            fill: $secondary-color;
        }
}}

div.tabs svg{
    height: 25px;
    margin-right: 10px;
    transition: all .5s ease-in-out;
}

.title {
    color: $secondary-color;
    font-family: $roboto;
    text-align: center;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.behind-content {
    margin: 10px;
    border-radius: 20px;
    border: 2px solid #4D4D4D;
    box-shadow: rgba(50, 50, 93, 0.501) 0px 5px 30px -20px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -20px inset;
}

.content {
    height: auto;
    margin: 10px;
    padding: 30px;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
    border-radius: 15px;
    background: linear-gradient(180deg, $primary-color 0%, $third-color 100%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.content, button {
    font-size: 15px;
}

.hard-skills-icons {
    max-width: 960px;

    img {
        max-height: 80px;
        margin: 15px;
    }
}

#soft-skills {
    font-family: $roboto;

        p {
            color: #4D4D4D;
        }
    
    #info-soft-skills {
        margin: 50px auto;
    }

    #list-soft-skills {

        div {
            margin: 10px auto;

            img {
                height: 60px;
                margin-bottom: 15px;
            }

            p {
               font-weight: 600; 
            }
}}}

#setup  {
    max-width: 960px;
    margin: 50px auto;

    .container-setup{
        margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

        @media screen and (max-width: 767px) {
            margin: auto;
        }

        img {
            height: 50px;
            margin: 0 15px;
        }

        .vertical-center-margin {
            margin: 20px;
        }

        #first-environment {
            @media screen and (max-width: 767px){
                margin: 15px auto;

                div {
                    margin: 5px 0;
                }
}}}}

