html {
  scroll-behavior: smooth; /* scroll thumb and track */
}

body {
  margin: auto;
}

#root {
  background-color: #FF9898;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.text-gray {
  color: #4D4D4D;
}

.text-white {
  color: white;
}

.navbar {
  height: 100px;
}

#header {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px, rgba(0, 0, 0, 0.3) 0 7px 5px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  background-color: #FF9898;
}

#header img {
  padding: 0;
}

#hero {
  background-color: #FF9898;
  padding-top: 200px;
  padding-bottom: 50px;
}

#hero h1 {
  font-size: 36px;
}

#hero-contact img {
  height: 35px;
}

#hero-recherche {
  font-size: 30px;
}

.logiciel {
  padding: 5px;
  max-width: 401px;
  max-height: 60px;
  background-color: rgba(255, 255, 255, 0.92);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.logiciel img {
  max-height: 40px;
}

.tab-container {
  max-width: 960px;
  margin: auto;
  background-color: #FF9898;
  border-radius: 100%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  border: 2px solid #4D4D4D;
  margin: 10px;
  padding: 2px;
  box-shadow: rgba(50, 50, 93, 0.501) 0px 0px 15px -15px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -18px inset;
  border-radius: 50px;
}
.tabs button {
  font-weight: 400;
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 30%;
  margin: 5px;
  background: #4D4D4D;
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.tabs button svg {
  pointer-events: none;
}
.tabs button path {
  fill: white;
  transition: all 0.5s ease-in-out;
}
.tabs button h2 {
  font-size: 20px;
}
.tabs button:hover {
  color: #FF9898;
  width: 40%;
  transition: all 0.5s ease-in-out;
}
.tabs button:hover path {
  fill: #FF9898;
  transition: all 0.5s ease-in-out;
}
.tabs button:disabled {
  background: linear-gradient(180deg, #FF9898 0%, #FFCDA2 100%);
  color: #4D4D4D;
  width: 80%;
  font-weight: bold;
}
.tabs button:disabled path {
  fill: #4D4D4D;
}

div.tabs svg {
  height: 25px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}

.title {
  color: #4D4D4D;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: medium;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.behind-content {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #4D4D4D;
  box-shadow: rgba(50, 50, 93, 0.501) 0px 5px 30px -20px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -20px inset;
}

.content {
  height: auto;
  margin: 10px;
  padding: 30px 40px;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
  border-radius: 15px;
  background: linear-gradient(180deg, #FF9898 0%, #FFCDA2 100%);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.content, button {
  font-size: 15px;
}

.hard-skills-icons {
  max-width: 960px;
}
.hard-skills-icons img {
  max-height: 80px;
  margin: 15px;
}

/*# sourceMappingURL=App.css.map */
