html {
  scroll-behavior: smooth; /* scroll thumb and track */
}

body {
  margin: auto;
}

#root {
  background-color: #ff9898;
  margin: auto;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.roboto {
  font-family: Roboto, sans-serif;
}

.roboto-condensed {
  font-family: "Roboto Condensed", sans-serif;
}

.text-gray {
  color: #4d4d4d;
}

.text-white {
  color: white;
}

#navbar {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 80px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px, rgba(0, 0, 0, 0.3) 0 7px 5px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  background-color: #ff9898;
}
@media screen and (max-width: 768px) {
  #navbar {
    width: 80%;
  }
  #navbar button {
    border: 2px solid #4d4d4d;
  }
}
#navbar img {
  padding: 0;
}
#navbar a {
  text-decoration: none;
  color: white;
  transition: all 0.5s ease-in-out;
  font-size: 100%;
}
#navbar a:hover {
  text-decoration: none;
  color: #4d4d4d;
  font-size: 110%;
}
#navbar .item-container {
  text-align: right !important;
}
@media screen and (min-width: 992px) {
  #navbar .item-container {
    display: flex;
    justify-content: flex-end;
  }
}
#navbar .item-container .item-list {
  gap: 20px;
}

#hero {
  padding-top: 200px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#hero h1 {
  font-size: 36px;
}
#hero #hero-info {
  max-width: 650px;
}
#hero #hero-contact img {
  height: 35px;
}
#hero #hero-recherche {
  font-size: 30px;
}

.tab-container {
  max-width: 960px;
  margin: auto;
  background-color: #ff9898;
  border-radius: 100%;
}
.tab-container .tabs {
  display: flex;
  justify-content: space-between;
  border: 2px solid #4d4d4d;
  margin: 10px;
  padding: 2px;
  box-shadow: rgba(50, 50, 93, 0.501) 0px 0px 15px -15px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -18px inset;
  border-radius: 50px;
}
.tab-container .tabs button {
  font-weight: 400;
  color: white;
  cursor: pointer;
  padding: 25px;
  width: 40%;
  margin: 5px;
  background: #4d4d4d;
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 50px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.tab-container .tabs button:hover {
  color: #ff9898;
  width: 50%;
  transition: all 0.5s ease-in-out;
}
.tab-container .tabs button:hover path {
  fill: #ff9898;
  transition: all 0.5s ease-in-out;
}
.tab-container .tabs button:disabled {
  background: linear-gradient(180deg, #ff9898 0%, #ffcda2 100%);
  color: #4d4d4d;
  width: 80%;
  font-weight: bold;
}
.tab-container .tabs button:disabled path {
  fill: #4d4d4d;
}
.tab-container .tabs button svg {
  pointer-events: none;
  height: 25px;
  margin-right: 10px;
  transition: all 0.5s ease-in-out;
}
.tab-container .tabs button path {
  fill: white;
  transition: all 0.5s ease-in-out;
}
.tab-container .tabs button h2 {
  font-size: 25px;
}
.tab-container .behind-tab-content {
  margin: 10px;
  border-radius: 20px;
  border: 2px solid #4d4d4d;
  box-shadow: rgba(50, 50, 93, 0.501) 0px 5px 30px -20px inset, rgba(0, 0, 0, 0.472) 0px 0px 25px -20px inset;
}
.tab-container .behind-tab-content .tab-content,
.tab-container .behind-tab-content button {
  font-size: 15px;
}
.tab-container .behind-tab-content .tab-content {
  height: auto;
  margin: 10px;
  padding: 30px;
  font-weight: 300;
  line-height: 30px;
  font-size: 16px;
  text-align: justify;
  border-radius: 15px;
  background: linear-gradient(180deg, #ff9898 0%, #ffcda2 100%);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.tab-container .behind-tab-content .tab-content .title {
  color: #4d4d4d;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
}
.tab-container .behind-tab-content .tab-content .hard-skills-icons {
  max-width: 960px;
}
.tab-container .behind-tab-content .tab-content .hard-skills-icons img {
  max-height: 80px;
  margin: 15px;
}
.tab-container .behind-tab-content .tab-content #soft-skills {
  font-family: Roboto, sans-serif;
}
.tab-container .behind-tab-content .tab-content #soft-skills p {
  color: #4d4d4d;
}
.tab-container .behind-tab-content .tab-content #soft-skills #info-soft-skills {
  margin: 50px auto;
}
.tab-container .behind-tab-content .tab-content #soft-skills #list-soft-skills div {
  margin: 10px auto;
}
.tab-container .behind-tab-content .tab-content #soft-skills #list-soft-skills div img {
  height: 60px;
  margin-bottom: 15px;
}
.tab-container .behind-tab-content .tab-content #soft-skills #list-soft-skills div p {
  font-weight: 600;
}

#setup {
  font-family: Roboto, sans-serif;
  max-width: 960px;
  margin: 50px auto;
  color: #4d4d4d;
}
@media screen and (max-width: 1300px) {
  #setup {
    max-width: 90%;
  }
}
#setup h2 {
  font-size: 25px;
}
#setup h2,
#setup h3,
#setup p {
  margin: 0;
}
#setup .container-setup {
  margin: 10px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: grid;
  align-content: center;
}
@media screen and (max-width: 767px) {
  #setup .container-setup {
    margin: 10px auto;
  }
}
#setup .container-setup img {
  height: 50px;
  margin: 0 15px;
}
#setup .container-setup h3 {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  #setup .container-setup .info-panel {
    margin: 10px auto;
  }
}

/*# sourceMappingURL=App.css.map */
