$primary-color: #FF9898;
$secondary-color: #4D4D4D;
$third-color: #FFCDA2 ;


$roboto: Roboto, sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
$roboto-slab: "Roboto Slab", serif;

html {
    scroll-behavior: smooth; /* scroll thumb and track */
}

body {
    margin: auto;
}


#root {
    background-color: #FF9898;
}

.roboto-slab {
    font-family: $roboto-slab;
}

.roboto {
    font-family: $roboto;
}

.roboto-condensed {
    font-family: $roboto-condensed;
}

.text-gray {
    color: $secondary-color;
}

.text-white {
    color: white;
}

.navbar {
    height: 100px;
}

#header {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px, rgba(0, 0, 0, 0.3) 0 7px 5px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    background-color: $primary-color;
}

#header img {
    padding: 0;
}

#hero {
    background-color: $primary-color;
    padding-top: 200px;
    padding-bottom: 50px;
}

#hero h1 {
    font-size: 36px;
}


#hero-contact img {
    height: 35px;

}

#hero-recherche {
    font-size: 30px;
}

.logiciel{
    padding: 5px;
    max-width: 401px;
    max-height: 60px;
    background-color: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.logiciel img {
    max-height: 40px;
}

.tab-container {
    width: 960px;
    margin: auto;
    background-color: $primary-color;
    border-radius: 100%;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    path {
        fill: white;
        transition: all .5s ease-in-out;
    }

    font-weight: 400;
    color: white;
    cursor: pointer;
    padding: 25px;
    width: 30%;
    margin: 0;
    background: $secondary-color;
    transition: all .5s ease-in-out;
    border: none;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}


.tabs button:hover {
    color: white;
}

.tabs button:disabled {
    path {
        fill: $secondary-color;
    }
    background: linear-gradient(180deg, $primary-color 0%, $third-color 100%);
    color: $secondary-color;
    width: 100%;
    margin-top: 0;
    font-weight: bold;
}

div.tabs svg{
    height: 25px;
    margin-right: 10px;
    transition: all .5s ease-in-out;
}

.title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
}

.content {
    margin-top: -2px;
    padding: 50px 80px;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
}

.content, button {
    font-size: 15px;
}