$primary-color: #FF9898;
$secondary-color: #4D4D4D;


$roboto: Roboto, sans-serif;
$roboto-condensed: "Roboto Condensed", sans-serif;
$roboto-slab: "Roboto Slab", serif;

html {
    scroll-behavior: smooth; /* scroll thumb and track */
}

body {
    margin: auto;
}

.App {
    text-align: center;
}
  
h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: O;
}

ul, li {
    padding: 0;
    margin: O;
}

p {
    padding: 0;
    margin: O;
}

#header {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 0 2px, rgba(0, 0, 0, 0.3) 0 7px 5px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    background-color: $primary-color;
}

.no-dot-list {
    list-style-type: 'none',
}

#hero {
    background-color: $primary-color;
}  

.text-gray {
    color: $secondary-color;
}

.text-white {
    color: white;
}